__pycache__/
*.py[cod]
*.egg-info/

.env
.venv/
venv/
env/
ENV/

*.sqlite3
media/
staticfiles/

.vscode/
.idea/

*.log
.DS_Store

pdf_recon_api/credentials/*.json
pdf_recon_api/media/*
pdf_recon_api/uploads/*
pdf_recon_api/db.sqlite3
service_account_key.json
token.json
