django
djangorestframework
django-cors-headers
pandas
numpy
pdfplumber
pdf2image
pytesseract
openpyxl
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
gunicorn
whitenoise
